@using Inance.Models;
@model Orders;

<form method="post" asp-area="Admin" asp-controller="Order" asp-action="Create">
    <div class="form-group">
        <label asp-for="ClientName"></label>
        <input class="form-control" asp-for="ClientName">
    </div>
    <div class="form-group">
        <label asp-for="ClientSurname"></label>
        <input class="form-control" asp-for="ClientSurname">
    </div>
    <div class="form-group">
        <label asp-for="ClientPhoneNumber"></label>
        <input class="form-control" asp-for="ClientPhoneNumber">
    </div>
        <div class="form-group">
        <label asp-for="ClientEmail"></label>
        <input class="form-control" asp-for="ClientEmail">
    </div>
    <div class="form-group">
        <label asp-for="Problem"></label>
        <input class="form-control" asp-for="Problem">
    </div>
    <div class="form-group">
        <label asp-for="IsActived"></label>
        <input class="form-control" asp-for="IsActived">
    </div>
    <div class="form-group">
        <label asp-for="ServiceId"></label>
        <input class="form-control" asp-for="ServiceId">
    </div>
    <div class="form-group">
        <label asp-for="MasterId"></label>
        <input class="form-control" asp-for="MasterId">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>